$columnCount: 24;

@mixin columns( $columns ) {
  width: percentage( 1 / $columnCount * $columns );
}

@mixin tableColumns( $columns ) {
  width: percentage( $columns / 10 );
}

@mixin offset( $columns ) {
  margin-left: percentage( 1 / $columnCount * $columns );
}

@mixin invert {
  [class*=col] {
    float: right !important;
    &:last-child {
      float: left !important;
    }
    &.end {
      float: right !important;
    }
  }
}

@mixin invert-vert-align {
  direction: rtl;
  [class*=col] {
    direction: ltr !important;
    float: none !important;
  }
}

[class*=row] {
  margin: 0 auto;

  [class*=col] {
    float: left;
    min-height: 1px;
    position: relative;

    &:last-child {
      float: right;
    }

    &.end {
      float: left;
    }

    img {
      display: inline-block;
      max-width: 99.999%;
    }

  }

  &.inverted:not( .uninvert ) {
    @include invert;
  }

}

/* Nicolas Gallagher's micro clearfix */
.row:before,
.row:after,
.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}

.row:after, .clearfix:after {
  clear: both;
}

.col1 {
  @include columns( 1 );
}

.col2 {
  @include columns( 2 );
}

.col3 {
  @include columns( 3 );
}

.col4 {
  @include columns( 4 );
}

.col5 {
  @include columns( 5 );
}

.col6 {
  @include columns( 6 );
}

.col7 {
  @include columns( 7 );
}

.col8 {
  @include columns( 8 );
}

.col9 {
  @include columns( 9 );
}

.col10 {
  @include columns( 10 );
}

.col11 {
  @include columns( 11 );
}

.col12 {
  @include columns( 12 );
}

.col13 {
  @include columns( 13 );
}
.col14 {
  @include columns( 14 );
}
.col15 {
  @include columns( 15 );
}
.col16 {
  @include columns( 16 );
}
.col17 {
  @include columns( 17 );
}
.col18 {
  @include columns( 18 );
}
.col19 {
  @include columns( 19 );
}
.col20 {
  @include columns( 20 );
}
.col21 {
  @include columns( 21 );
}
.col22 {
  @include columns( 22 );
}
.col23 {
  @include columns( 23 );
}
.col24 {
  @include columns( 24 );
}

.offset1 {
  @include offset( 1 );
}

.offset2 {
  @include offset( 2 );
}

.offset3 {
  @include offset( 3 );
}

.offset4 {
  @include offset( 4 );
}

.offset5 {
  @include offset( 5 );
}

.offset6 {
  @include offset( 6 );
}

.offset7 {
  @include offset( 7 );
}

.offset8 {
  @include offset( 8 );
}

.offset9 {
  @include offset( 9 );
}

.offset10 {
  @include offset( 10 );
}

.offset11 {
  @include offset( 11 );
}

.offset12 {
  @include offset( 12 );
}
.offset13 {
  @include offset( 13 );
}
.offset14 {
  @include offset( 14 );
}
.offset15 {
  @include offset( 15 );
}
.offset16 {
  @include offset( 16 );
}
.offset17 {
  @include offset( 17 );
}
.offset18 {
  @include offset( 18 );
}
.offset19 {
  @include offset( 19 );
}
.offset20 {
  @include offset( 20 );
}
.offset21 {
  @include offset( 21 );
}
.offset22 {
  @include offset( 22 );
}
.offset23 {
  @include offset( 23 );
}
.offset24 {
  @include offset( 24 );
}









.row-vert-align {
  display: inline-table;
  table-layout: fixed;
  vertical-align: middle;
  width: 100%;
  height: 100%;

  [class*=col] {
    display: table-cell;
    vertical-align: middle;
    float: none !important;
    padding: 0;

    &.bottom {
      vertical-align: bottom;
    }

    &.top {
      vertical-align: top;
    }

    img {
      display: inline-block;
      max-width: 99.999%;
    }

  }

  &.inverted:not( .uninvert ) {
    @include invert-vert-align;
  }

  .col1 {
    @include tableColumns( 1 );
  }

  .col2 {
    @include tableColumns( 2 );
  }

  .col3 {
    @include tableColumns( 3 );
  }

  .col4 {
    @include tableColumns( 4 );
  }

  .col5 {
    @include tableColumns( 5 );
  }

  .col6 {
    @include tableColumns( 6 );
  }

  .col7 {
    @include tableColumns( 7 );
  }

  .col8 {
    @include tableColumns( 8 );
  }

  .col9 {
    @include tableColumns( 9 );
  }

  .col10 {
    @include tableColumns( 10 );
  }

  .col11 {
    @include tableColumns( 11 );
  }

  .col12 {
    @include tableColumns( 12 );
  }

  .col13 {
    @include tableColumns( 13 );
  }
  .col14 {
    @include tableColumns( 14 );
  }
  .col15 {
    @include tableColumns( 15 );
  }
  .col16 {
    @include tableColumns( 16 );
  }
  .col17 {
    @include tableColumns( 17 );
  }
  .col18 {
    @include tableColumns( 18 );
  }
  .col19 {
    @include tableColumns( 19 );
  }
  .col20 {
    @include tableColumns( 20 );
  }
  .col21 {
    @include tableColumns( 21 );
  }
  .col22 {
    @include tableColumns( 22 );
  }
  .col23 {
    @include tableColumns( 23 );
  }
  .col24 {
    @include tableColumns( 24 );
  }

}



/* GRID GUTTER*/
$horizontalGutter: 0;
$verticalGutter: 5px;

.row:not( .no-gutter ), .row-vert-align:not( .no-gutter ) {
  @include rem( padding-left, $verticalGutter );
  @include rem( padding-right, $verticalGutter );

  [class*="col"]:not( .no-gutter ) {
    @include rem( padding-left, $verticalGutter );
    @include rem( padding-right, $verticalGutter );
  }
}
/*
  .row, .row-vert-align {
    @include px-to-em( padding, 0 0 $verticalGutter 0 );

    [class*="col"] {
      @include px-to-em( padding, 0 $horizontalGutter );
    }

  }

  .row, .row-vert-align {
    .row, .row-vert-center {
      @include px-to-em( padding, 0 );

      [class*="col"] {
        @include px-to-em( padding, 0 5 );

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }

    }
  }*/

/* GRID GUTTER*/


.row-base {
  @extend .row;
  @extend [class*=row];
}

.col-base {
  @extend .col;
  @extend [class*=col];
  @extend [class*="col"]:not( .no-gutter )
}