@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin px-to-em( $property, $values, $baseSize: 16 ) {
  $emValues: ();
  @each $value in $values {
    @if type-of( $value ) == number {
      $value: ( $value / $baseSize * 1em );
    }
    $emValues: append( $emValues, $value );
  }
  #{$property}: $emValues;
}

@mixin pos-absolute-to-em( $top, $right, $bottom, $left, $baseSize ) {
  position: absolute;
  top: $top / $baseSize * 1em;
  right: $right / $baseSize * 1em;
  bottom: $bottom / $baseSize * 1em;
  left: $left / $baseSize * 1em;
}

@mixin transition( $values ) {
  -webkit-transition: $values;
  -moz-transition: $values;
  -o-transition: $values;
  transition: $values;
}

@mixin linear-gradient( $colorFrom, $colorTo ) {
  background-image: -webkit-linear-gradient( $colorFrom, $colorTo );
  background-image: -moz-linear-gradient( $colorFrom, $colorTo );
  background-image: -ms-linear-gradient( $colorFrom, $colorTo );
  background-image: -o-linear-gradient( $colorFrom, $colorTo );
  background-image: linear-gradient( $colorFrom, $colorTo );
}

@mixin button-border-effect() {
  $colorFrom: rgba( 0, 0, 0, 0 );
  $colorTo: #9c7c8c;
  $colorStop: 80%;
  background-image: -webkit-linear-gradient( $colorFrom $colorStop, $colorTo );
  background-image: -moz-linear-gradient( $colorFrom $colorStop, $colorTo );
  background-image: -ms-linear-gradient( $colorFrom $colorStop, $colorTo );
  background-image: -o-linear-gradient( $colorFrom $colorStop, $colorTo );
  background-image: linear-gradient( $colorFrom $colorStop, $colorTo );
}

@mixin clear-float() {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@mixin sidebox-border-bottom( $horzSpace: 0 ) {
  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 1px;
    left: $horzSpace;
    right: $horzSpace;
    border-bottom: thin solid $colorSideboxBorderDark;
    border-right: none;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: $horzSpace;
    right: $horzSpace;
    border-bottom: thin solid $colorSideboxBorderLight;
    border-right: none;
  }
}
